<style>
    div{
      background-color: aquamarine;
      padding: 1em;
    }
    p{
        text-align: left;
        padding-left: 1em;
        color: red;
    }
</style>
<div>
    <p>Form is no longer accepting responses. please contact admin</p>
</div>